<div class="container-fluid mt-3">
  <div class="row justify-content-between">
    <div class="col-auto">
      <h1>Available Sessions</h1>
    </div>
  </div>

  <div class="table-responsive min-vh-100 mt-4">
    <table class="table">
      <thead>
         <tr>
          <th>Title</th>
          <th>Therapist</th>
          <th>Start</th>
          <th>End</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @sessions.each do |session| %>
          <tr>
            <td><%= session.title %></td>
            <td><%= session.therapist.name %></td>
            <td><%= session.start_time.strftime("%B %d, %Y %H:%M:%S") %></td>
            <td><%= session.end_time.strftime("%B %d, %Y %H:%M:%S") %></td>
            <td><%= session.status %></td>
            <td>
              <% if session.available? %>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#appointmentModal">Get Appointment</button>
                <%= render "appointment", session: session %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="row justify-content-center">
      <div class="col-auto">
        <%= will_paginate @sessions, renderer: WillPaginate::ActionView::BootstrapLinkRenderer  %>
      </div>
    </div>
  </div>
</div>
